/* Estilos básicos aplicados a todas as telas */
.geral {
    background-color: #000000;
  }

 
  
  .imagem_perfil {
    width: 170px; /* Tamanho padrão menor para telas pequenas */
    height: auto; 
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-top: 90px; 
    max-width: 100%;
    border-radius: 50%; 
  }
  
  /* Estilos para telas maiores que 768px */
  @media (min-width: 768px) {
    .imagem_perfil {
      width: 300px; /* Aumenta o tamanho da imagem em telas maiores */
      margin-left: 1100px; /* Aplica margem esquerda apenas em telas maiores */
      margin-bottom: 70px;
      margin-top: 90px; 
      
      

    }

  }
  